<!DOCTYPE html>
<html lang="pt-BR">

<head>
    {% load crispy_forms_tags %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">

    <title>Cliente</title>
</head>

<body>
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h3>Deletar!</h3>
            <p class="lead">seja bem vindo!</p>
            <hr class="my-2">
            <form method="post">{% csrf_token %}
                <p>Quer deletar mesmo esse item: "{{ object }}"?</p>
                <input type="submit" value="Confirm">
            </form>
            <p class="lead ">
                <a class="btn btn-primary btn-lg " href="/ " role="button ">Home</a>
            </p>
        </div>
    </div>
</body>

</html>